<div class="todos">
  <form (submit)="addTodo()">
    <input
      type="text"
      name="inputTodo"
      placeholder="Enter your list here"
      class="todo-input"
      [(ngModel)]="inputTodo"
      required
    />
    <input type="submit" value="Add list" class="todo-submit" />
    <div *ngIf="formSubmitted && inputTodo.trim() === ''" class="error-message">
      Please enter a valid to-do item.
    </div>
  </form>
  <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
    <div class="id">{{ i+1 }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <button class="delete" (click)="deleteTodo(i)">Delete</button>
  </div>
</div>
