body {
  background-image: linear-gradient(red, snow);
  display: flex;
  justify-content: center;
}

.app {
  width: 480px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(darkcyan, yellow);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .app {
    width: 320px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

h1 {
  font-family: caladea, sans-serif;
  color: snow;
}

h4 {
  text-align: center;
  font-family: carlito, sans-serif;
}
