<!DOCTYPE html>
<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400&family=Carlito:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</header>
<body>
  <div class="app">
    <header>
      <img src="assets/img/angularLogo.png" width="50px">
      <h1>&nbsp;&nbsp;Simple to-do App</h1>
    </header>
    <section>
      <h4>click on listed item to mark/unmark</h4>
    </section>
    <app-todos></app-todos>
  </div>
</body>
